body{
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: Verdana, Tahoma, sans-serif;
}

.header-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    top: 0;
    z-index: 1000;
    position: sticky;
}
.animation-h{
    display: flex;
    align-items: center;
}

.animation{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.header-home h1{
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.navbar ul{
    display: flex;
    margin-right: 10px;
    list-style: none;
    gap: 10px;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    border-bottom: 1px solid #222;
}
.navbar a:hover{
    background-color: yellow;
}

.from{
    text-align: center;
}
.ul-from{
    list-style: inside;
    line-height: 30px;
    margin-bottom: 50px;
}
.get-courses{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: burlywood;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    transition: 0.3s;
}
.get-courses:hover{
    background-color: white;
    border: 1px solid #222;
    color: maroon;
}


.program h2{
    background-color: rgb(181, 197, 89);
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}
.time-table{
    text-align: center;
    margin: auto;
    width: 90%;
    margin-bottom: 30px;
}
.time-table th,td{
    border: 1px solid #111;
}
.time-table .days,th{
    background-color: yellowgreen;
}
.time-table td,.days{
    padding: 10px;
}
.time-table td{
    background-color: rgb(248, 248, 123);
}
.days{
    font-weight: bold;
}


.teachers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    gap: 20px;
}
.teacher{
    box-shadow: 2px 5px 12px #333;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(183, 233, 47);
}
.teacher h2{
    color: darkred;
}
.p-teachers{
    font-size: 1.2rem;
}
.teacher img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}
.email-teachers{
    font-size: 1.2rem;
    padding: 8px;
    margin-top: 40px;
}
.email-teachers a{
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px;
    background-color: antiquewhite;
    color: #111;
    transition: 0.3s;
}
.email-teachers a:hover{
    background-color: rgb(240, 240, 138);
    box-shadow: 2px 6px 16px #222;
}


.semester{
    text-align: center;
    padding: 20px;
    background-color: burlywood;
    margin-top: 0;
}
.courses{
    display: flex;
    flex-wrap: wrap;
    
}
.course{
    background-color: rgb(248, 163, 53);
    margin-bottom: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 4px 10px #333;
    transition: 0.3s;
}
.course:hover{
    background-color: rgb(252, 184, 95);
    box-shadow: 2px 6px 20px #222;
}
.course a{
    text-decoration: none;
    padding: 10px;
    color: #111;
}
.course img{
    width: 20px;
    height: 20px;
}

.footer{
    text-align: center;
    background-color: rgb(75, 35, 35);
    color: white;
    margin-bottom: 0;
    padding: 10px;
}
.footer .by-me{
    font-weight: bold;
    padding: 10px;
}
.contact-me{
    margin-top: 40px;
}
.contact ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact img{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
.contact ul{
    list-style: none;
}
.contacta{
    text-decoration: none;
}

@media(max-width:1100px) {
    .header-home{
        flex-direction: column;
    }


    .time-table{
        font-size: 11px;
        padding: 2px;
    }
}

@media(max-width:600px) {
    .header-home{
        flex-direction: column;
        align-items: center;
    }
    .animation{
        width: 80px;
        height: 80px;
    }


    .time-table{
        font-size: 11px;
        padding: 2px;
    }
    .time-table-div{
        overflow-x: scroll;
    }

    .teacher{
        width: 90%;
    }
    

    .footer .copy{
        font-size: 14px;
        padding: 6px;
    }
}